.fade-in-on-hover(@opacity: 1) {
  opacity: 0;
  &:hover {
    opacity: @opacity;
  }
}

.underline-on-hover() {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.style-with-hover(@primary, @secondary) {
  .transition();
  color: @primary;
  border: 1px solid @secondary;
  background-color: @secondary;
  &:hover {
    color: @secondary;
    background-color: @primary;
  }
}

.style-with-hover-inverted(@primary, @secondary) {
  .transition();
  color: @primary;
  border: 1px solid @primary;
  background-color: @secondary;
  &:hover {
    color: @secondary;
    background-color: @primary;
  }
}

.transition() {
  transition: all 500ms ease-in-out;
}