.clear-after() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.clear-before() {
  &:before {
    content: '';
    display: block;
    clear: both;
  }
}

.clear-both() {
  .clear-before();
  .clear-after();
}

.clear(@n) {
  &:nth-child(@{n}n) {
    clear: right;
  }
  &:nth-child(@{n}n + 1) {
    clear: left;
  }
}

.clear-and-width(@n) when (@n > 1) {
  width: 100% / @n;
  .clear(@n);
}

.clear-and-width(@n) when (@n = 1) {
  width: 100%;
  clear: both;
}

.clear-and-width-responsive(@n, @base, @start) {
  @media (min-width: (@n * @base - @base + 1)) {
    .clear-and-width(@n);
  }
  .clear-and-width-responsive(@n - 1, @base);
}

.clear-and-width-responsive(@n, @base) when (@n > 1) {
  @media (min-width: (@n * @base - @base + 1)) and (max-width: (@n * @base)) {
    .clear-and-width(@n);
  }
  .clear-and-width-responsive(@n - 1, @base);
}

.clear-and-width-responsive(@n, @base) when (@n = 1) {
  @media (max-width: (@base)) {
    .clear-and-width(@n);
  }
}