/* ----- MEDIA BREAKPOINTS ----- */
@xxs-min: 384px; // large mobile
@xxs-max: 479px; // large mobile
@xs-min: 480px; // small tablet
@xs-max: 640px; // small tablet
@sm-min: 641px; // large tablet
@sm-max: 767px; // small tablet
@md-min: 768px; // large tablet
@md-max: 991px; // large tablet
@lg-min: 992px; // laptop
@lg-max: 1199px; // laptop
@xl-min: 1200px; // desktop
@xl-max: 1599px; // desktop
@xxl-min: 1600px; // large desktop

// default fonts vars
@font-size-b: 1.6rem;
@line-height-b: 1.5;
@h-line-height-b: 1.3;
@h-font-weight: bold;

// font sizes standardized
@font-size-xxs: @font-size-b * 0.6; //xsmall
@font-size-xs: @font-size-b * 0.75; //small
@font-size-s: @font-size-b * 1; //text
@font-size-m: @font-size-b * 1.25; //h5
@font-size-l: @font-size-b * 1.5; //h4
@font-size-xl: @font-size-b * 2; //h3
@font-size-xxl: @font-size-b * 2.75; //h2
@font-size-xxxl: @font-size-b * 3.6; //h1

@base-rem: .5rem * 0.8;

// ----- COMPONENTS -----
@spacing-xxs: @base-rem;
@spacing-xs: 2 * @base-rem;
@spacing-sm: 4 * @base-rem;
@spacing-md: 8 * @base-rem;
@spacing-lg: 12 * @base-rem;
@spacing-xl: 16 * @base-rem;
@spacing-xxl: 24 * @base-rem;

@radius-xxs: @spacing-xxs / 2;
@radius-xs: @spacing-xs / 2;
@radius-sm: @spacing-sm / 2;
@radius-md: @spacing-md / 2;
@radius-lg: @spacing-lg / 2;
@radius-xl: @spacing-xl / 2;
@radius-xxl: @spacing-xxl / 2;

@sizes: xxs, xs, sm, md, lg, xl, xxl;
@directions: top, right, bottom, left;