
.s-header-main {
  padding: 4rem 4rem 1rem 4rem;
  border-bottom: 2px solid #bbb;
}

.__menu-item-holder {
  padding: 0 2rem;
  a {
    color: #333;
  }
}

.__logo-main {
  width: 6.4rem;
}

.s-content {
  background: #f7f6fc;
  //padding: 2rem;
}
.box-with-padding {
  background: #fff;
  padding: 3rem;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, .0666);
}

.s-center {
  min-height: ~"calc(100vh - 6rem)";
  display: flex;
  align-items: center;
}