:root {
  // 7 spacings
  --spacing-xxs: @spacing-xxs;
  --spacing-xs: @spacing-xs;
  --spacing-sm: @spacing-sm;
  --spacing-md: @spacing-md;
  --spacing-lg: @spacing-lg;
  --spacing-xl: @spacing-xl;
  --spacing-xxl: @spacing-xxl;

  --viewport-xxs: @xxs-min;
  --viewport-xs: @xs-min;
  --viewport-sm: @sm-min;
  --viewport-md: @md-min;
  --viewport-lg: @lg-min;
  --viewport-xl: @xl-min;
  --viewport-xxl: @xxl-min;

  --font-size-xxs: @font-size-xxs;
  --font-size-xs: @font-size-xs;
  --font-size-sm: @font-size-s;
  --font-size-md: @font-size-m;
  --font-size-lg: @font-size-l;
  --font-size-xl: @font-size-xl;
  --font-size-xxl: @font-size-xxl;

  --golden: 1.61803398875;

  --color-grayish: #6C6C6C;

}