.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.color-white {
  color: white;
}

.color-grayish {
  color: var(--color-grayish, #6C6C6C);
}

.color-success {
  color: var(--color-success, #00C058);
}

.color-error {
  color: var(--color-error, #C80000);
}

.font-size-xxs {
  font-size: 1.2rem;
}
.font-size-xs {
  font-size: 1.4rem;
}
.font-size-sm {
  font-size: 1.6rem;
}
.font-size-md {
  font-size: 1.8rem;
}
.font-size-lg {
  font-size: 2.4rem;
}
.font-size-xl {
  font-size: 3rem;
}
.font-size-xxl {
  font-size: 4.2rem;
}

.nobr {
  white-space: nowrap;
  word-break: keep-all;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.bold {
  font-weight: bold;
}
.normal {
  font-weight: normal;
}
.lightest {
  font-weight: 100;
}
.lighter {
  font-weight: 200;
}
.light {
  font-weight: 300;
}

/*$weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;
each($weights, {
  .fw-@{value} {
    font-weight: @value;
  }
});*/
