.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.color-white {
  color: white;
}

.color-grayish {
  color: #6C6C6C;
}

.color-success {
  color: #00C058;
}

.color-error {
  color: #C80000;
}