.form-control,
option {
  border: 1px solid #555;
  border-radius: .25rem;
  padding: ~"calc(var(--golden) * var(--spacing-xs))";
  display: block;
  width: 100%;
}
select.form-control {
  padding: 0;
}

.form-group {
  > label {
    display: inline-block;
    margin-bottom: .5em;
  }
}

.form-group:not(:last-child) {
  margin-bottom: 2rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.htmlbuilder-validator-error {
  color: var(--color-error, red);
  margin-top: .333em;
  font-size: var(--font-size-xs);
}