.btn,
.form-control {
  --btn-fs: ~"calc((var(--font-size-sm) + var(--font-size-md)) / 2)";
  --btn-fs: var(--font-size-sm);
  font-size: var(--btn-fs, 1.6rem);
  line-height: ~"calc(var(--btn-fs) * var(--golden))"; // to match the bordered version
  line-height: ~"calc(var(--btn-fs) * 1.5)"; // to match the bordered version
  padding: ~"calc(var(--btn-fs) / var(--golden) / var(--golden)) var(--btn-fs)";

  &.--xxs {
    --btn-fs: var(--font-size-xxs);
  }

  &.--xs {
    --btn-fs: var(--font-size-xs);
  }

  &.--ss {
    --btn-fs: var(--font-size-ss);
  }

  &.--sm {
    --btn-fs: var(--font-size-sm);
  }

  // normal

  &.--md {
    --btn-fs: var(--font-size-md);
  }

  &.--lg {
    --btn-fs: var(--font-size-lg);
  }

  &.--xl {
    --btn-fs: var(--font-size-xl);
  }

  &.--xxl {
    --btn-fs: var(--font-size-xxl);
  }

}

.input-group-addon {
  display: block;
  position: relative;
}

.form-control,
option {
  border: 1px solid #555;
  //border-radius: .25rem;
  //padding: ~"calc(var(--golden) * var(--font-size-xxs))";
  display: block;
  width: 100%;
  background: var(--scope-bg, #fff);

  &:focus {
    outline: none;
  }
}

.form-control {
  &.--bordered,
  &.--solid {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .1);
  }
  &.--bordered {
    line-height: ~"calc((var(--btn-fs) * var(--golden)) - 2px)"; // to match the bordered version
    line-height: ~"calc((var(--btn-fs) * 1.5) - 2px)"; // to match the bordered version
    background: #fff;
    border: 1px solid #e7e7e7;
  }
  &.--solid {
    background: #f0f0f0;
    border: 1px solid var(--fc--bg, var(--color-grayish-min));
    color: #666;
    &:hover {
      background: #e7e7e7;
    }
  }
  &.--rounded-max {
    border-radius: ~"calc(((var(--btn-fs) * (1 + var(--golden))) + (var(--btn-fs) / var(--golden) / var(--golden))) / var(--golden) / var(--golden))";
  }
}

.form-group {
  > label {
    display: inline-block;
    margin-bottom: .5em;
  }
}

.input-group-addon {
  &.--opened {
    label {
      font-weight: 600;
      color: #333;
    }
  }
  > input[type="checkbox"] {
    display: none;
    &:checked + .dropdown-menu,
    &:checked + * + .dropdown-menu {
      display: block;
      position: absolute;
      z-index: 10;
      background: white;
      width: 100%;
      left: 0;
      right: 0;
      padding: 0;
      padding-bottom: 1rem;
      border: 1px solid #e7e7e7;
      border-width: 0px 1px 1px 1px;
      border-radius: 0 0 var(--spacing-sm) var(--spacing-sm);
      background: #f7f7f7;
      > li {
        background: #f7f7f7;
        a {
          display: block;
          padding: .666rem 1.333rem;
          font-size: var(--font-size-xs);
        }
        &:hover,
        &.--selected {
          background: #eee;
        }
      }
    }
    &:checked + .dropdown-toggle {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: none;
      background: #f7f7f7;
    }
  }
}

.btn {
  border: none;
  font-weight: bold;
  transition: all 333ms ease-in-out;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: .5rem;
  //padding: ~"calc(var(--btn-fs) / var(--golden)) calc(var(--btn-fs) / var(--golden))";

  &.--disabled {
    cursor: not-allowed;
  }

  &.--primary {
    --btn-bg-color: var(--color-primary);
    background-color: var(--color-primary);
    &:hover {
      --btn-bg-color: var(--color-primary--hover, var(--color-primary));
    }
  }

  &.--secondary {
    --btn-bg-color: var(--color-secondary);
    background-color: var(--color-secondary);
    &:hover {
      --btn-bg-color: var(--color-secondary--hover, var(--color-secondary));
    }
  }

  &.--error {
    --btn-bg-color: var(--color-error);
    background-color: var(--color-error);
  }

  &.--success {
    --btn-bg-color: var(--color-success);
    background-color: var(--color-success);
  }

  &.--rounded {
    border-radius: 5rem;
  }

  &.--bordered {
    border: 2px solid var(--btn-bg-color);
    color: var(--btn-bg-color);
    background: transparent;
    line-height: ~"calc(100% - 4px)";
    line-height: ~"calc(var(--btn-fs) * var(--golden) - 4px)"; // double border
    line-height: ~"calc((var(--btn-fs) * 1.5) - 4px)";
  }

  &.--text {
    border-color: transparent;
    background-color: transparent;
    color: var(--btn-bg-color);
  }

  &:hover {
    text-decoration: none;
  }

  &[disabled] {
    filter: grayscale(85%);
    opacity: 0.85;
    cursor: not-allowed;
    pointer-events: visibleFill;
  }
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.htmlbuilder-validator-error {
  color: var(--color-error, red);
  margin-top: .5em;
  font-size: var(--font-size-ss, var(--font-size-xs));
}

.btn-group {
  > :not(:last-child) {
    margin-right: var(--spacing-xs);
  }
  > :not(:first-child) {
    margin-left: var(--spacing-xs);
  }
}

.__more-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  font-size: var(--font-size-ss);
}

.--rounded-0 {
  border-radius: 0;
}

.--rounded-min {
  border-radius: var(--spacing-min);
}

.--rounded-xxs {
  border-radius: var(--spacing-xxs);
}

.--rounded-xs {
  border-radius: var(--spacing-xs);
}

.--rounded-ss {
  border-radius: var(--spacing-ss);
}

.--rounded-sm {
  border-radius: var(--spacing-sm);
}

.--rounded-md {
  border-radius: var(--spacing-md);
}

.--rounded-lg {
  border-radius: var(--spacing-lg);
}

.--rounded-xl {
  border-radius: var(--spacing-xl);
}

.--rounded-xxl {
  border-radius: var(--spacing-xxl);
}

.--rounded-max,
.--rounded {
  border-radius: var(--spacing-max);
}

.--rounded-100 {
  border-radius: 100%;
}
