.multiAttr(@attr, @size, @medium: ~"") {
  .no-@{attr}@{medium} {
      @{attr}: 0;
  }
  .@{attr}-@{size}@{medium} {
      @{attr}: ~ "var(--spacing-@{size})";
  }
  .@{attr}-@{size}-g@{medium} {
      @{attr}: ~ "calc(var(--spacing-@{size}) * var(--golden))";
  }
  each(@directions, {
    .no-@{attr}-@{value}@{medium} {
        @{attr}-@{value}: 0;
    }
    .@{attr}-@{value}-@{size}@{medium} {
        @{attr}-@{value}: ~ "var(--spacing-@{size})";
    }
    .@{attr}-@{value}-@{size}-g@{medium} {
        @{attr}-@{value}: ~ "calc(var(--spacing-@{size}) * var(--golden))";
    }
  });
}

.multiSpacing(@attr, @medium: ~"") {
  each(@sizes, {
    .multiAttr(@attr, @value, @medium);
  });
}

@medias: 384px, 480px, 640px, 768px, 960px, 1200px, 1600px;
.multiMedia() {
  @medium: ~"";
  @import (multiple) "/var/www/html/vendor/pckg/helpers-less/boot/05_offset.less";
  each(@medias, {
    @medium: ~"\@@{value}";
    @import (multiple) "/var/www/html/vendor/pckg/helpers-less/boot/05_offset.less" screen and (min-width: @value);
  })
}

@import "/var/www/html/vendor/pckg/helpers-less/new-vars.less";
@import "/var/www/html/vendor/pckg/helpers-less/boot/00_root.less";
@import "/var/www/html/vendor/pckg/helpers-less/boot/01_reset.less";
@import "/var/www/html/vendor/pckg/helpers-less/boot/02_base.less";
@import "/var/www/html/vendor/pckg/helpers-less/boot/03_structure.less";
@import "/var/www/html/vendor/pckg/helpers-less/boot/04_typography.less";

/**
Importing multiMedia
 */
.multiMedia();

@import "/var/www/html/vendor/pckg/helpers-less/boot/06_forms.less";

/**
Modal
 */
.modal-mask {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.333);
  display: table;
  transition: opacity 0.3s ease, all 0.3s ease;
  backdrop-filter: blur(.25rem);
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.table {
  width: 100%;
  &.--fixed {
    table-layout: fixed;
  }
  &.--bordered {

  }
  &.--hover {
    tr:hover {
      td {
        background-color: #f7f7f7;
      }
    }
  }
  > thead > tr > th,
  > tbody > tr > td {
    padding: .5rem;
  }
}
