.multiAttr(@attr, @alias, @size, @medium: ~"") {
  .@{alias}@{medium}-0 {
      @{attr}: 0;
  }
  .@{alias}-@{size}@{medium} {
      @{attr}: ~ "var(--spacing-@{size})";
  }
  .@{alias}-@{size}-g@{medium} {
      @{attr}: ~ "calc(var(--spacing-@{size}) * var(--golden))";
  }
  each(@directions, {
    .@{alias}@{key}@{medium}-0 {
        @{attr}-@{value}: 0;
    }
    .@{alias}@{key}-@{size}@{medium} {
        @{attr}-@{value}: ~ "var(--spacing-@{size})";
    }
    .@{alias}@{key}-@{size}-g@{medium} {
        @{attr}-@{value}: ~ "calc(var(--spacing-@{size}) * var(--golden))";
    }
  });
}

.multiSpacing(@attr, @alias, @medium: ~"") {
  each(@sizes, {
    .multiAttr(@attr, @alias, @value, @medium);
  });
}

/*
.multiMedia() {
  @medium: ~"";
  @import (multiple) "/var/www/html/vendor/pckg/helpers-less/boot/03_structure_media.less";
  @import (multiple) "/var/www/html/vendor/pckg/helpers-less/boot/05_offset.less";

  @medium: ~"@xs";
  @import (multiple) "/var/www/html/vendor/pckg/helpers-less/boot/03_structure_media.less" screen and (min-width: 480px);
  @import (multiple) "/var/www/html/vendor/pckg/helpers-less/boot/05_offset.less" screen and (min-width: 480px);

  @medium: ~"@md";
  @import (multiple) "/var/www/html/vendor/pckg/helpers-less/boot/03_structure_media.less" screen and (min-width: 768px);
  @import (multiple) "/var/www/html/vendor/pckg/helpers-less/boot/05_offset.less" screen and (min-width: 768px);

  @medium: ~"@xl";
  @import (multiple) "/var/www/html/vendor/pckg/helpers-less/boot/03_structure_media.less" screen and (min-width: 1140px);
  @import (multiple) "/var/www/html/vendor/pckg/helpers-less/boot/05_offset.less" screen and (min-width: 1140px);

  @medium: md;
  @import (multiple) "/var/www/html/vendor/pckg/helpers-less/boot/03_structure_media.less" screen and (min-width: @breakpoints.md);
  @import (multiple) "/var/www/html/vendor/pckg/helpers-less/boot/05_offset.less" screen and (min-width: @breakpoints.md);

  @medium: lg;
  @import (multiple) "/var/www/html/vendor/pckg/helpers-less/boot/03_structure_media.less" screen and (min-width: @breakpoints.lg);
  @import (multiple) "/var/www/html/vendor/pckg/helpers-less/boot/05_offset.less" screen and (min-width: @breakpoints.lg);

each(@medias, {
    //@medium: ~"\@@{key}";
    @medium: ~"\@@{value}";
    @breakpoint: @breakpoints[$@value];
    @import (multiple) "/var/www/html/vendor/pckg/helpers-less/boot/03_structure_media.less" screen and (min-width: @breakpoint);
    @import (multiple) "/var/www/html/vendor/pckg/helpers-less/boot/05_offset.less" screen and (min-width: @breakpoint);
  })
}
*/
